#central{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: white;
}
#header{
    width: 1260px;
    height: 100px;
    background-color: blue;
}
#middle{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.green{
    width: 200px;
    height: 400px;
    background-color: chartreuse;
}
.red{
    width: 700px;
    height: 400px;
    background-color: crimson;
}
#footer{
    width: 1260px;
    height: 100px;
    background-color: blue;
}