* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #e8f5e9; /* Verde suave */
}

.cadastro-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px; /* Espaçamento entre os elementos */
}

.cadastro-container h2 {
    margin-bottom: 10px;
    color: #388e3c; /* Verde escuro */
    text-align: center;
}

.form-group {
    display: contents; /* Faz com que os filhos ocupem o espaço de Grid */
}

.cadastro-container label {
    margin-bottom: 5px;
    text-align: left;
}

.cadastro-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cadastro-container button {
    width: 100%;
    padding: 10px;
    background: #4caf50; /* Verde claro */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.cadastro-container button:hover {
    background: #388e3c; /* Verde escuro */
}

.cadastro-container p {
    text-align: center;
}
